In [35]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [36]:
df = pd.read_csv("car.csv")
df.head()

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,selling_price
0,BMW,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,450000
1,Honda,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,370000
2,Toyota,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,158000
3,Ford,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,225000
4,Honda,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,130000

In [37]:
df = pd.read_csv("car.csv")
x = df.iloc[:, :-1].values
y = df.iloc[: , -1].values
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,10
0,BMW,2014,145500,Diesel,Individual,Manual,First Owner,23.4,1248.0,74.0,5.0
1,Honda,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Toyota,2006,140000,Petrol,Individual,Manual,Third Owner,17.7,1497.0,78.0,5.0
3,Ford,2010,127000,Diesel,Individual,Manual,First Owner,23.0,1396.0,90.0,5.0
4,Honda,2007,120000,Petrol,Individual,Manual,First Owner,16.1,1298.0,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...
8123,Ford,2013,110000,Petrol,Individual,Manual,First Owner,18.5,1197.0,82.85,5.0
8124,Nissan,2007,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8,1493.0,110.0,5.0
8125,BMW,2009,120000,Diesel,Individual,Manual,First Owner,19.3,1248.0,73.9,5.0
8126,Ford,2013,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.0,5.0
8127,Toyota,2013,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70.0,5.0

In [38]:
print(x.shape)

(8128, 11)

In [39]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
imputer.fit(x[ : , 7:11])
x[:, 7:11] = imputer.transform(x[:, 7:11])
pd.DataFrame(x[ 0:17 , 7:11])

            0            1          2         3
0        23.4       1248.0       74.0       5.0
1       21.14       1498.0     103.52       5.0
2        17.7       1497.0       78.0       5.0
3        23.0       1396.0       90.0       5.0
4        16.1       1298.0       88.2       5.0
5       20.14       1197.0      81.86       5.0
6        17.3       1061.0       57.5       5.0
7        16.1        796.0       37.0       4.0
8       23.59       1364.0       67.1       5.0
9        20.0       1399.0       68.1       5.0
10      19.01       1461.0     108.45       5.0
11       17.3        993.0       60.0       5.0
12       19.3       1248.0       73.9       5.0
13  19.418783  1458.625016  91.517919  5.416719
14       18.9       1061.0       67.0       5.0
15      18.15       1198.0       82.0       5.0
16      24.52       1248.0       88.5       7.0

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[0,3,4,5,6])],remainder='passthrough')
x = np.array(ct.fit_transform(x))
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2014,145500,23.4,1248.0,74.0,5.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,2014,120000,21.14,1498.0,103.52,5.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,2006,140000,17.7,1497.0,78.0,5.0
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2010,127000,23.0,1396.0,90.0,5.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,2007,120000,16.1,1298.0,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,2013,110000,18.5,1197.0,82.85,5.0
8124,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,2007,119000,16.8,1493.0,110.0,5.0
8125,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2009,120000,19.3,1248.0,73.9,5.0
8126,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2013,25000,23.57,1396.0,70.0,5.0
8127,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2013,25000,23.57,1396.0,70.0,5.0

In [41]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [42]:
poly_fea = PolynomialFeatures(degree=2)
x_train_poly = poly_fea.fit_transform(x_train)
x_test_poly = poly_fea.fit_transform(x_test)

In [43]:
poly_reg = LinearRegression()
poly_reg.fit(x_train_poly,y_train)

LinearRegression()

In [44]:
lin = LinearRegression()
lin.fit(x_train_poly,y_train)

LinearRegression()

In [45]:
y_pred = poly_reg.predict(x_test_poly)

In [46]:
train_accuracy = np.ceil(lin.score(x_train_poly,y_train)*100)
print("The Training Accuracy = " ,train_accuracy,"%")

The Training Accuracy =  92.0 %

In [47]:
train_accuracy = np.ceil(lin.score(x_test_poly,y_test)*100)
print("The Testing Accuracy = " ,train_accuracy,"%")

The Testing Accuracy =  85.0 %